:root{
    font-size: 1rem;
    box-sizing: border-box;
    /*font-size: calc(0.5em + 1vw);*/
    --blue-demon: #043F63;
    --strong-blue: #04477A;
    --sky-blue: #259CF4;
    --powerade: #1DD0F8;
    --mint: #5CEAD2;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Comfortaa', cursive;
}
/*----------NAVBAR--------------*/
.nav_bar{
    background-color: var(--blue-demon);
    width: 177.567px;
    height: 100vh;
}

.nav_bar__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav_bar__item{
    align-self: auto;
    font-size: 1.813em;
    color: var(--powerade);
    text-align: center;
    background-color:inherit;
    border-right: 5px dashed var(--powerade);
    border-left: 5px dashed var(--powerade);
    flex: 1;
}
.nav_bar__photo{
    background-image: url(images/HASH.jpg);
    background-size: cover;
    flex-grow: 2;
}
.nav_bar__item:nth-child(1){border-top: 5px dashed var(--powerade);}
.nav_bar__item:nth-child(2){
    border-top: 5px dashed var(--powerade);
    border-bottom: 5px dashed var(--powerade);
}
.nav_bar__item:nth-child(3){border-bottom: 5px dashed var(--powerade);}
.nav_bar__item:nth-child(4){border-bottom: 5px dashed var(--powerade);}
.nav_bar__item:nth-child(5){border-bottom: 5px dashed var(--powerade);}
.nav_bar__item:nth-child(6){border-bottom: 5px dashed var(--powerade);}

.nav_bar__item:hover:not(.nav_bar__photo){
    color: var(--blue-demon);
    background-color: var(--powerade);
    border-right: 5px dashed var(--blue-demon);
    border-left: 5px dashed var(--blue-demon);
    border-bottom: 5px dashed var(--blue-demon);
}
.nav_bar__item:nth-child(2):hover{border-top: 5px dashed var(--blue-demon);}

.nav_bar__item a{
    text-decoration: none;
    padding: .4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_bar__item i{
    margin-bottom: .3em;
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

.nav_bar__item p{
font-size: 0.798em;
}