:root{
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
    --blue-demon: #043F63;
    --strong-blue: #04477A;
    --sky-blue: #259CF4;
    --powerade: #1DD0F8;
    --mint: #5CEAD2;
}
*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Comfortaa', cursive;
    background-color: var(--blue-demon);
}
img{max-width: 100%;}
/*------------NAVBAR--------------------------------------*/
.nav_bar{
    font-size: .8rem;
    background-color: var(--blue-demon);
    width: 13%;
    height: 100vh;
    position: sticky;
    top: 0;
    border: 1px solid green;
    z-index: 30;
}

.nav_bar__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav_bar__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--powerade);
    text-align: center;
    background-color:inherit;
    border-right: .3em dashed var(--powerade);
    border-left: .3em dashed var(--powerade);
    flex: 1;
}
.nav_bar__photo{
    background-image: url(images/HASH.jpg);
    background-position: center;
    background-size: cover;
    flex: 2;
}

.nav_bar__item + .nav_bar__item{
    border-top:.3em dashed var(--powerade) ;
}
.nav_bar__item:first-child{border-top:.3em dashed var(--powerade)}
.nav_bar__item:last-child{border-bottom:.3em dashed var(--powerade)}
.nav_bar__item:hover:not(.nav_bar__photo){
    color: var(--blue-demon);
    background-color: var(--powerade);
    border-top: .3em dashed var(--blue-demon);
    border-right: .3em dashed var(--blue-demon);
    border-left: .3em dashed var(--blue-demon);
}
.nav_bar__item:hover:last-child{border-bottom: .3em dashed var(--blue-demon);}


.nav_bar__item a{
    width: 100%;
     height: 100%;
    text-decoration: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_bar__item i{
    font-size: 2.5em;
    margin-bottom: .3em;
}

.nav_bar__item a, .nav_bar__item a:visited,  .nav_bar__item a:hover, .nav_bar__item a:active {
    color: inherit;
  }

.nav_bar__item p{
font-size: 0.9em;
}
@media (max-width: 45em){
    .nav_bar{
        width: 18%;
        font-size: 1rem;
    }
    .nav_bar__photo{
        flex:2%;
    }
    .nav_bar__item{
    }
}
@media (max-width: 26em){
    .nav_bar{
        position: fixed;
        top: unset;
        bottom: 0px;
        font-size: .9rem;
        width: 100%;
        height: 10%;
    }
    .nav_bar__list{
        flex-direction: row;
        height: 100%
    }
    .nav_bar__photo{
        display: none;
    }
    .nav_bar__item{
        border-top:.3em dashed var(--powerade);
        border-bottom:.3em dashed var(--powerade);
    }
    .nav_bar__item + .nav_bar__item{
    border-left: .3em dashed var(--powerade);
    border-right: none;
    }
    .nav_bar__item:last-child{border-right: .3em dashed var(--powerade);}
    .nav_bar__item:hover{
        border-right: none;
        border-bottom: .3em dashed var(--blue-demon);
    }
    .nav_bar__item p{display: none;}
    .nav_bar__item i{margin-bottom: 0;}
}

/*------------Infrastructure--------------------------------------*/
body{
    margin: 0 auto;
  
}
.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}


.main{
    width: 78%;
    background-color: var(--strong-blue);
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
}

@media (max-width: 45em){
    .main{
        width: 70%;
    }
}
@media (max-width: 26em){
    .main{
        width: 92%;
    }
}
/*------------SOCIAL NETWORKS--------------------------------------*/
.social_networks{
    height: 100%;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    width: 6%;
    position: sticky;
    overflow: hidden;
    top: 0px;
    /*border: red solid 1px; */
}
.social_networks__tile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color:var(--powerade);
    border: 5px dashed var(--sky-blue);
    font-size: 2em;
    padding: .2em;
    border-width: .13em;
}

.social_networks__tile + .social_networks__tile{
   margin-top: .3em;
}

.social_networks__tile:hover{
    background-color: var(--powerade) ;
    color: var(--strong-blue);
    border-color: var(--strong-blue);
}
@media (max-width: 45em){
    .social_networks{
        font-size: .7em;
        width: 8%;
    }
    .social_networks__tile{
        border-width: 3px;
        padding: .4em;
    }
    .social_networks__tile + .social_networks__tile{
        margin-top: .5em;
     }
}

@media (max-width: 26em){
    .social_networks{
        display: none;
    }
}

/*------------ABOUT ME--------------------------------------*/
.about_me{
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    margin-top: 1em;

    text-align: center;
}
.header__title{
    display: block;
    color: var(--powerade);
    font-weight: bold;
    font-size: 3.438em;
    
}
.header__subtitle{
    color: var(--mint);
    font-size: 1.813em;
    margin: 0.35em 0;
}
.header__greet{
    color: var(--powerade);
    font-size: 1.938em;
    width: 80%;
}

@media (max-width: 45em){
    .about_me{margin-top: 2.5em;}
    .header{
        margin-top: 1em;
        margin-bottom: 3em;
        font-size: .7rem;
    }
    .header__greet{width: 85%;}
}
@media (max-width: 26em){
    .about_me{
        margin-top: 1em;
        margin-bottom: 12em;
    }
    .header{
        font-size: .9rem;
        margin-bottom: 2em;
    }
    .header__title{font-size: 3em;}
    .header__greet{ width: 95%;}

}
#about_me__gallery{ overflow: hidden;}

.swiper-container {
    margin-top: 1em;
    width: 60%;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next, .swiper-button-prev{
    --swiper-navigation-size: 2.5rem;
    --swiper-theme-color: var(--mint)
}

@media(max-width: 1500px){#about_me__gallery {width: 55%;}}
@media(max-width: 1100px){#about_me__gallery{width: 70% ;}}
@media (max-width: 45em){#about_me__gallery {width: 90%;}}
@media (max-width: 26em){#about_me__gallery {width: 100%;}}

/*------------WORK XP--------------------------------------*/
.work_xp{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 8rem;
}
.work_xp__line{
    position: absolute;
    border-left:0.313rem dashed var(--sky-blue);
    height: 100%;
    z-index: 1;
}
.section_title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
    background-color: var(--powerade);
    font-size: 1rem;
    padding: .8rem 0;
    z-index: 10;
}

.section_title h2{
    color: var(--blue-demon);
    font-size: 2.188em;
}
.dashed{border:0.313rem dashed var(--blue-demon);}

@media(max-width: 45em){
    .section_title{
        font-size: .65rem;
        width: 70%;}
}
@media(max-width: 26em){
    .section_title{width: 100%;
        font-size: .9rem;
    }
}
.work_xp__timeline{
    z-index: 20;
}
.work_xp__figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 3.2em;
    
}
.work_xp__image{
    margin-bottom: 0.438em;
    background-color: var(--strong-blue);
}
.domitai{width: 7.669em;}
.ADO{width:14.148em ;}
.greenscrapp{width: 5em;}

.work_xp__figcaption{
text-align: center;
background-color: var(--blue-demon);
border:0.313rem dashed var(--sky-blue);
padding: .5rem 2rem;
font-size: 1.102em;
}
.work_xp__figcaption h3{
    color: var(--sky-blue);
}
.work_xp__figcaption p{
    color: var(--mint);
}
.work_xp__figcaption small{
    font-weight: lighter;
    color: white;
}
.work_xp__figure a{
    display: block;
    text-decoration: none;
    color: inherit;
}

.work_xp__anchor{
    text-decoration: none;
    color: inherit;
}
.work_xp__anchor:hover{
    text-decoration: underline;
}

.hashger_box{
    background-color: black;
    padding:2.6em 1.498em;
    font-family:'Share Tech Mono', monospace;
    margin-bottom: 0.438em;
}
.hashger_box h3{
    color: white;
    font-size: 2.288em;
    font-weight: lighter;
    
}

/*------------PORTFOLIO--------------------------------------*/
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 8rem;
}

.portfolio__skillset{
    display: flex;
    flex-direction: column;
    color: var(--mint);
    font-size: .8rem;
    width: 66.9%;
    margin-top: 2.204em;
    
}
.portfolio__skillset h4{
    font-size: 2.5em;
    text-align: center;
}

.skillset__skill p{
    font-size: 1.763em;
}

.skillset_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skillset__skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.skillset__skill + .skillset__skill{
    margin-left: 2.319em;
}

.skillset__skill img{
    text-align: center;
    width: 5.375em;
    margin-top: 0.441em;
    margin-bottom: 0.969em;
}

@media (max-width: 45em){
    .portfolio__skillset{
        font-size: .5rem;
    }
}
@media (max-width: 26em){
    .portfolio__skillset{
        font-size: .6rem;
    }
}
.portfolio__gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__gallery__title{
    text-align: center;
    color: var(--powerade);
    font-size: 2.204em;
    margin-top: 1.204em;
    margin-bottom: .8em;
}

.portfolio__gallery__grid{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.292em;
}
.gallery__grid__anchor{
    color: inherit;
    text-decoration: none;
}
.gallery__grid__anchor:hover{
    text-decoration: underline;
}

.gallery__grid__figure{
    position: relative;
    
}
.gallery__grid__figure img{
    width: 100%;
}
.gallery__grid__caption{
    position: absolute;
    bottom: 2px;
    background-color: var(--powerade);
    width: 100%;
    text-align: center;
    color: var(--blue-demon);
    font-size: 1em;
    opacity: .9;
    padding: .5em 0;
}

@media(max-width: 45em){
    .portfolio__gallery__grid{
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }
    .gallery__grid__caption{
        font-size: 1.5em;
    }
}

/*------------LECTURES--------------------------------------*/
.lectures{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.lectures__gallery__figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.7em;
}
#lectures__gallery{
    margin-top: 4em;
    width: 98%;
    font-size: .9rem;
    overflow: hidden;
}

.lectures__gallery__figure img{ margin-bottom:1em ;}

.swiper-pagination{
    color: var(--mint);
}

.figcaption_anchor_img{
    display: block;
}
.figcaption_anchor_img:hover img{
    box-shadow: 0 5px 15px rgba(29, 208, 248, .7);
}

.figcaption_anchor{
    color: inherit;
    text-decoration: none;

}
.figcaption_anchor:hover{
    text-decoration: underline;
}

@media(max-width: 45em){
    .lectures__gallery__figure{margin-bottom: 2.2em;}
}
@media(max-width: 26em){
    #lectures__gallery{
        margin-top: 6em;
    }
}
/*------------CONTACT--------------------------------------*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-bottom: 3.5em;
}

.contact__grid{
    margin-top: 3rem;
    max-width: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 3.22em;
}
.contact__grid__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color:var(--powerade);
    border: 0.22rem dashed var(--sky-blue);
    padding: 0.821em;
}
.contact__grid__item:hover{
    box-shadow: 0 5px 15px rgba(29, 208, 248, .7);
}

/*.contact__grid__item + .contact__grid__item{
    margin-left: 3.22em;
}
*/

.contact__grid__item i{
    font-size: 6.03em;
    margin-bottom: 0.1em;
}

.contact__grid__item:last-child small{
    font-size: 0.5em;
}

@media(max-width: 45em){
    .contact__grid{
        font-size: .6rem;
    }
}
@media(max-width: 26em){
    .contact__grid{
        font-size: .9rem;
        gap: 1em
    }
}

/*------------CONTACT--------------------------------------*/
footer{
    color: var(--mint);
    text-align: center;
    background-color: var(--strong-blue);
    padding: .2em 0;
}

@media(max-width: 26em){
    footer{
        padding-top: 1em;
        padding-bottom: 8em;
    }
}
